<div *ngIf="apartmentService.apartments;then list else empty_list"></div>

<ng-template #list>
  <div class="row" *ngFor="let apartment of (apartmentService.apartments | async)" (click)="onSelect(apartment)">
    <div class="col">{{apartment.id}}</div>
    <div class="col">{{apartment.street}}</div>
    <div class="col">{{apartment.post_code}}</div>
    <div class="col">{{apartment.town}}</div>
    <div class="col">{{apartment.country}}</div>
    <div class="col">{{apartment.email}}</div>
  </div>
</ng-template>
<ng-template #empty_list>
  List is yet empty
</ng-template>