@import '~scss/variables';

.aprt {

  .row {

  }
  .th {
    font-weight: bold;
    font-size: 12px;
    background-color: mintcream;
    padding:5px 0;
    border-bottom: 1px solid $deep_blue;
  }

  .ord {
    font-size: 14px;

    div {
      line-height: 40px;

      &:nth-of-type(odd){
        background: mintcream;
        border-left: 1px solid $deep_blue;
        border-right: 1px solid $deep_blue;
      }
      &:nth-of-type(even){
        background: white;
      }
    }

  }
}