@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
  '~bootstrap/scss/mixins',
  '~bootstrap/scss/print',
  '~bootstrap/scss/reboot',
  '~bootstrap/scss/grid',
  '~bootstrap/scss/type';

@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

@import '~scss/__variables';

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  background-color: $silver;

  font-family: $ptr;
  font-style: normal;

  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

h1,h2,h3,h4,h5 {
  font-weight: bold;
}
a {
  color: #1482b4;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

#wrapper {
  display: block;
  position: relative;
  max-width: 767px;
  min-height: 100vh;
  padding-bottom: 180px!important;
  margin: 0 auto;
  background-color: white;
}